
body{
    background-color: #DFE0F2;
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif;
}
main{
    width: 940px;
    margin: 0 auto;
    display: flex;
}
/*Header*/
#Logo_Alura{
    margin: 20px;
}
#titulo{
    display: inline-block;
    position: absolute;
    color: #1944D8;
    font-size: 2.5em;
    left: 170px;
    top: 25px;
}
/*Fin Header*/
/*Divs*/
.Contenedor1{
    background-color: white;
    width: 100vh;
    height: 70vh;
    border-radius: 55px;
    position: absolute;
    left: 160px;
    
}
.Contenedor1::after{
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    background: #bdc3c7;
    background: rgb(197, 192, 192);
    width: 100%;
    height: 100%;
    filter:blur(20px);
    z-index: -1;
    border-radius: 55px;
} 

/*Fin Div*/
#parrafo1{
    position: fixed;
    color: #a5a5a5;
    font-size: 0.6em;
    font-family: 'Poppins', sans-serif;
    left: 250px;
    top: 140px;
}
.icono-exclamacion{
    position: fixed;
    left: 235px;
    top: 135px;
}
.icono-exclamacion::before {
    content: "!";
    display: inline-block;
    width: 13px;
    height: 13px;
    line-height: 13px;
    font-size: 10px;
    text-align: center;
    color: white;
    background-color: gray;
    border-radius: 50%;
}

/*Input*/
form{
    margin: 40px 0;
}
form label{
    display: block;
}
form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border :transparent;
}
input {
    text-indent: 55px;
}

.textarea{
    position: relative;
    background-color: transparent;
    bottom: -30px;
    left: 75px;
    width:500px;
    height:150px;
    color: #292D44;
    border: none;
    outline: none;
    border: none;
    resize: none;
}
input:focus{
    outline: none;
outline: transparent;
}
.textarea::placeholder {
    position: relative;
    top: -7.5px;
    color: #292D44;
    font-size: 1.3em;
    border :transparent;
    font-family: 'Poppins', sans-serif;

}
/*Fin Input*/
/*Botones*/
.btn-encriptar{
    position: absolute;
    top: 350px;
    left: 80px;
    background-color: #1944D8;
    color: #ffff;
    width: 150px;
    height: 40px;
    padding: 15px;
    margin: 10px 10px;
    border-radius: 15px;
    border: #1944D8;
    line-height: 1px;
    cursor: pointer;
}
.btn-encriptar:hover{
    background-color: blue;
}
.btn-desencriptar{
    position: absolute;
    top: 350px;
    left: 250px;
    background-color: #CACCE2;
    color: #1944D8;
    width: 150px;
    height: 40px;
    padding: 15px;
    margin: 10px 10px;
    border-radius: 15px;
    border-color: #1944D8;
    line-height: 1px;
    cursor: pointer;
}
.btn-desencriptar:hover{
    background-color:  #b0b1c5;
}
#copyButton{
    display: none;
    position: absolute;
    top: 320px;
    left: 250px;
    background-color: #FFFFFF;
    color: #1944D8;
    width: 150px;
    height: 40px;
    padding: 15px;
    margin: 10px 10px;
    border-radius: 15px;
    border-color: #1944D8;
    line-height: 1px;
    cursor: pointer;
}
#copyButton:hover{
    background-color:  rgba(255, 255, 255, 0.822);
}
/*Fin Botones*/
/*Contenedor 2*/
.Contenedor2{
    background-color: #292D44;
    width: 80vh;
    height: 62.9vh;
    border-radius: 55px 55px 55px 55px;
    position: relative;
    right: 0;
    left: 200px;
    margin: 0 auto;
    top: 45px;
    z-index: -1;
    box-shadow: 0px 1px 8px 1px #C5C0C0;
}
.contenedormuneco{
    position: absolute;
    left: 230px;
    top: 205px;
    
}
.contenedor-parrafo{
    position: absolute;
    box-sizing: border-box;
    left: 230px;
    top: 50px;
    color: white;
}
.contenedor-parrafo h3{
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}
.contenedor-parrafo p{
    font-size: 0.6em;
    padding: 5px;

}
.mensaje{
background-color: transparent;
color: white;
margin-left: 100px;
margin-top: 50px;
padding-left: 80px;
width: 50vh;
height: 48.9vh;
border: none;
resize: none;
}
/*Fin Contenedor 2*/
/*Footer*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.6em;
    right: 45px;
}
#textfooter{
    text-align: center;
}
.Logo_Git{
    position: relative;
    width: 80px;
    height: 80px;
    left: 240px;
    top: -48px;
}
/*Fin Footer*/ 
.ocultar{
    display: none;
}
/*responsive*/
@media(max-width: 575.98px) and (orientation:portrait){ 
    /*Contenedor 1*/
    #titulo{
        left: 90px;   
    }
    .Contenedor1{
        width: 50vh;
        height: 55vh;
        left: 35px;
    }
    .icono-exclamacion{
        left: 80px;
    }
    #parrafo1{
        left: 95px;
    }
    .textarea{
        width: 40vh;
        left: 40px;
        
    }
    .btn-encriptar{
        top: 360px;
        left: 25px;
    }
    .btn-desencriptar{
        top: 360px;
        left: 190px;
    }
    /*FinContenedor 1*/
    /*Contenedor 2*/
    .Contenedor2{
        width: 49vh;
        left: -225px;
        top: 280px;
    }
    #copyButton{
        left: 25px;
        top: 450px;
        width: 100px;
    }

    .mensaje
    {
    margin-left: -50px;
    margin-top: 220px;
    padding-left: 80px;
    width: 40vh;
    position: fixed;
    }
    .mensaje::placeholder{
        right: 150px;
        top: 80px;
        color: white;
        font-size: 1em;
        
    }
    .mensaje:focus{
        outline: none;
        
    }
    .contenedormuneco{
        top: 343px;
        left: 150px;
    }
    .contenedor-parrafo{
        top: 270px;
        left: 50px;
    }
    .contenedor-parrafo h3{
        padding: 5px;
        font-family: 'Poppins', sans-serif;
    }
    .contenedor-parrafo p{
        font-size: 0.6em;
        padding: 5px;
    
    }
/*FinContenedor 2*/
    footer{
        width: auto;
        bottom: -250px;
    }
    #textfooter{
        position: relative;
        left: 85px;
        top: -115px;
    }
    .Logo_Git{
        left: 80px;
        top: -140px;
    }
}
/*Table*/
@media(min-width: 575.98px) and (max-width: 760px){
}